@import './cardHeader';
@import './cardBody';
@import './cardFooter';

.card-container {
    width: 20em;
    height: 33em;
    padding: 1.3em;
    background-color: $Verydarkblue;
    border-radius: 20px;
    margin-top: 2em;
}

@media only screen and (max-width: 375px) {
    .card-container {
        width: 18em;
        height: 31em;
        padding: 1em;
        margin-top: 0.5em;

        .card-title {
            font-size: 1.1rem;
        }

        .card-text {
            font-size: 16px;
        }

        .card-info-left-text, .card-info-right-text, .profile-text  {
            margin-left: 5px;
        }
    }
}